---
layout: page
title: 小说 · 爱在古城
permalink: /novel-love-in-xian/
---

<div class="gridlayoutsecond">
   <div class="container-fluid">
      <div class="row"> 
         <div class="col-md-9 col-lg-9" id="bloglayout11">
            <div class="posts">
               {% for post in site.tags.novel2 limit: 8 %}
                  <article class="post">
                     <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
                     <div class="entry">
                        {{ post.content | truncatewords:200 }}
                     </div>
                     <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">全文</a>
                  </article>
               {% endfor %}
            </div>
         </div>       
         <div class="col-md-3 col-lg-3" id="bloglayout12">
            <h2>小说 · 爱在古城</h2>
            <div class="posts">
               {% for post in site.tags.novel2 %}
                  <article class="post">
                     <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                  </article>
               {% endfor %}
            </div>
            <h2><a href="novel-stay-in-shenzhen.html">小说 · 客过深圳</a></h2>
          </div>       
      </div>
   </div>
</div>


