#gh-comments-list {
    list-style: none;
    list-style-type: none;

    li {
        margin: 0;
        padding: 1.5em 0;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #034ea2;

        >a.user {
            width: 2.5em;
            height: 2.5em;
            overflow: hidden;
            padding: 3px;

            img {
                border-radius: 10%;
                border: 1px solid #999999;
                box-shadow: 0 0 3px #666666;
            }
        }

        >a.comment-url {
            width: 100%;
            text-align: right;
            font-size: .6em;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }

        .comment-content {
            padding: 0 1.5em;
        }
    }
}

#leave-a-comment {
    background: #034ea2;
    color: #cccccc;
    padding: 1rem;

    a {
        color: #fff;
        border-bottom-color: #fff;
        outline-color: #fff;
    }
}

#no-comments-found {
    font-size: .8rem;
    display: none;
}
