#gh-comments-list {
    list-style: none;
    list-style-type: none;

    li {
        margin: 0;
        padding: 1.5em 0;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #034ea2;

        >a.user {
            width: 2.5em;
            height: 2.5em;
            overflow: hidden;
            padding: 3px;

            img {
                border-radius: 10%;
                border: 1px solid #999999;
            }
        }

        >a.comment-url {
            width: 100%;
            text-align: right;
            font-size: .6em;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }

        .comment-content {
            padding: 0 1.5em;
        }
    }
}

#leave-a-comment {
    text-align: center;
    padding: 1rem;
    line-height: 1.7;

    a {
        color: #fff;
        background: #034ea2;
        border-radius: 5px;
        padding: 8px 12px;
        margin-right: 8px;
    }
}

#no-comments-found {
    font-size: .8rem;
    display: none;
}
