
//
// VARIABLES
//

// Colors
$blue: #1a73e8;
$linkBlue: #1a73e8;
$logoBlue: #034ea2;
$lighBlue:#3571b4;
$whiteBlue: #e5edf5;
$orange: #f47a5c;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$chineseFont: 'Hiragino Sans GB', 'Microsoft YaHei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
