---
layout: default
---

<div class="gridlayoutsecond">
   <div class="container-fluid">
      <div class="row"> 
         <div class="col-md-9 col-lg-9" id="postlayout11">
            <article class="post">
               <h1>{{ page.title }}</h1>
               <div class="entry">
                  {{ content }}
               </div>
               <div class="date">
                  发表于 {{ page.date | date: "%B %e, %Y" }}
               </div>
               {% if page.comments_id %}
                  {% include comments.html %}
               {% endif %}
            </article>
         </div>       
         <div class="col-md-3 col-lg-3" id="bloglayout12">
            <h2>更多文章</h2>

            <div class="posts">
               {% with post.tag as page.tag %}
                  <article class="post">
                     <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                  </article>
               {% endwith %}
            </div>

            <div class="posts">
               <h4>诗词</h4>
               {% for post in site.tags.poem limit: 8 %}
                  <article class="post">
                     <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                  </article>
               {% endfor %}
            </div>
            <div class="posts">
               <h4>散文</h4>
               {% for post in site.tags.prose limit: 8 %}
                  <article class="post">
                     <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                  </article>
               {% endfor %}
            </div>
            <div class="posts">
               <h4>小说 · 客过深圳</h4>
               {% for post in site.tags.novel1 limit: 8 %}
                  <article class="post">
                     <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                  </article>
               {% endfor %}
            </div>
            <div class="posts">
               <h4>小说 · 爱在古城</h4>
               {% for post in site.tags.novel2 limit: 8 %}
                  <article class="post">
                     <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                  </article>
               {% endfor %}
            </div>
         </div>       
      </div>
   </div>
</div>

