---
layout: default
---

<div class="gridlayoutsecond">
   <div class="container-fluid">
      <div class="row"> 
         <div class="col-md-9 col-lg-9" id="postlayout11">
            <article class="post">
               <h1>{{ page.title }}</h1>
               <div class="entry">
                  {{ content }}
               </div>
               <div class="date">
                  发表于 {{ page.date | date: "%B %e, %Y" }}
               </div>
               {% if page.comments_id %}
                  {% include comments.html %}
               {% endif %}
            </article>            
            <div class="PageNavigation">
               {% for post in site.tags.poem %}
                  {% if post.url == page.url %}
                     {% assign post_index0 = forloop.index0 %}
                     {% assign post_index1 = forloop.index %}
                  {% endif %}
               {% endfor %}
               {% for post in site.tags.poem %}
                  {% if post_index0 == forloop.index %}
                     {% assign next_post = post %}
                  {% endif %}
                  {% if post_index1 == forloop.index0 %}
                     {% assign prev_post = post %}
                  {% endif %}
               {% endfor %}
               
               {% if post.url == page.url %}
                  {% if prev_post %}
                     <a rel="prev" href="{{ prev_post.url }}">Previous post: {{ prev_post.title }}</a>
                  {% endif %}
                  {% if next_post %}
                     <a rel="next" href="{{ next_post.url }}">Next post: {{ next_post.title }}</a>
                  {% endif %}
               {% endif %}
            </div>
         </div>       
         <div class="col-md-3 col-lg-3" id="bloglayout12">
            <h2>相关文章</h2>
            <div class="posts">
               {% for post in site.tags.poem %}
                  {% if post.tag == page.tag %}
                     <article class="post">
                        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                     </article>
                  {% endif %}
               {% endfor %}
            </div>
            <div class="posts">
               {% for post in site.tags.prose %}
                  {% if post.tag == page.tag %}
                     <article class="post">
                        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                     </article>
                  {% endif %}
               {% endfor %}
            </div>
            <div class="posts">
               {% for post in site.tags.novel1 %}
                  {% if post.tag == page.tag %}
                     <article class="post">
                        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                     </article>
                  {% endif %}
               {% endfor %}
            </div>
            <div class="posts">
               {% for post in site.tags.novel2 %}
                  {% if post.tag == page.tag %}
                     <article class="post">
                        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                     </article>
                  {% endif %}
               {% endfor %}
            </div>
         </div>       
      </div>
   </div>
</div>
