---
layout: default
---

<div class="gridlayoutsecond">
   <div class="container-fluid">
      <div class="row"> 
         <div class="col-md-9 col-lg-9" id="postlayout11">
            <article class="post">
               <h1>{{ page.title }}</h1>
               <div class="entry">
                  {{ content }}
               </div>
               <div class="date">
                  发表于 {{ page.date | date: "%B %e, %Y" }}
               </div>
               {% if page.comments_id %}
                  {% include comments.html %}
               {% endif %}
            </article>
            <div class="PageNavigation">
               {% assign cat = page.categories[0] %}
               {% assign cat_list = site.categories[cat] %}
               {% for post in cat_list %}
                  {% if post.url == page.url %}
                     {% assign pOffset = forloop.index0 | minus: 1 %}
                     {% assign nOffset = pOffset | plus: 2 %}
                     {% if forloop.first == false %}
                        {% assign next_post = cat_list[pOffset] %}
                     {% endif %}
                     {% if forloop.last == false %}
                        {% assign previous_post = cat_list[nOffset] %}
                     {% endif %}
                  {% break %}
                  {% endif %}
               {% endfor %}
               {% if prev_post %}
                  <a href="{{ prev_post.url }}">{{ prev_post.title }}</a>
               {% endif %}

               {% if next_post %}
                  <a href="{{ next_post.url }}">{{ next_post.title }}</a>
               {% endif %}
            </div>
         </div>       
         <div class="col-md-3 col-lg-3" id="bloglayout12">
            <h2>相关文章</h2>
            <div class="posts">
               {% for post in site.tags.poem %}
                  {% if post.tag == page.tag %}
                     <article class="post">
                        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                     </article>
                  {% endif %}
               {% endfor %}
            </div>
            <div class="posts">
               {% for post in site.tags.prose %}
                  {% if post.tag == page.tag %}
                     <article class="post">
                        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                     </article>
                  {% endif %}
               {% endfor %}
            </div>
            <div class="posts">
               {% for post in site.tags.novel1 %}
                  {% if post.tag == page.tag %}
                     <article class="post">
                        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                     </article>
                  {% endif %}
               {% endfor %}
            </div>
            <div class="posts">
               {% for post in site.tags.novel2 %}
                  {% if post.tag == page.tag %}
                     <article class="post">
                        <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                     </article>
                  {% endif %}
               {% endfor %}
            </div>
         </div>       
      </div>
   </div>
</div>
